### Create Database

```create database database_name```

### Create Table


```
create table users(
user_id integer primary key auto_increment,
name varchar(255) not null,
email varchar(50) not null,
password varchar(255) not null
)
```

## insert

```
insert into campusx.users(user_id,name,email,password)
values (null,"nitish","nitish@gmail.com","1234")
```

we can insert the record in this way too but make sure to insert the data with the same table column order
```
insert into campusx.users
values (null,"kamran","kamran@gmail.com","5678")
```

we can insert the mention column values too to specifies the column name
```
insert into campusx.users(name,email) values("salman","salman@gmail.com")
```

there is no need for ordering the column if you specifies the column name 
```
insert into campusx.users(password,name,email,user_id)
values (1234,"nitish","nitish@gmail.com",null)
```

inserting more than one record
```
insert into campusx.users values
(null,"ahmed","ahmed@gmail.com","34566"),
(null,"amjad","amjad@gmail.com","65423"),
(null,"ahad","ahad@gmail.com","0193812")
```

## How to import the into mysql workbench

1. first go to the desire database
2. Right Click on the tables 
3. then Click the option appeared "Table Data Import Wizard"
4. and then Browse the file and select the file on your local system then click next
5. then select "create new table" option and then click next
6. Change the datatype if you want and then click next
7. click next again and the data will import

## Select all the rows in the Table

```Select * from campusx.smartphones```

we can extract the specific columns too
``` select os,model,battery_capicity from smartphones.smartphones_cleaned ```

## mathematical expression as a Column

``` 
SELECT model, 
sqrt(resolution_width*resolution_width + resolution_height*resolution_height)/screen_size as "ppi"
FROM smartphone.smartphones_cleaned; 
```

## Constant Columns

``` select model, "smartphone" as "type" from smartphone.smartphones_cleaned ```

## Distinct(Unique) values

``` select Distinct(brand_name) as "all brands" from smartphone.smartphones_cleaned ```

## Distinct(Unique) two Columns Combinations

```SELECT distinct brand_name, processor_brand FROM smartphone.smartphones_cleaned;```

## Filter rows Where Clause

``` SELECT * FROM smartphone.smartphones_cleaned where brand_name = "samsung"; ```

``` 
SELECT * FROM smartphone.smartphones_cleaned where price > 5000;

SELECT distinct(brand_name) FROM smartphone.smartphones_cleaned 
where price > 50000;

```

## Between

```
SELECT * FROM smartphone.smartphones_cleaned where price between 10000 and 20000;

 ```

### logical operator

```
SELECT * FROM smartphone.smartphones_cleaned where price > 5000 and price < 20000;

SELECT * FROM smartphone.smartphones_cleaned 
where price < 25000 and rating > 80 and processor_brand = "snapdragon";

SELECT * FROM smartphone.smartphones_cleaned where 
brand_name = 'samsung' and ram_capacity > 8;

SELECT * FROM smartphone.smartphones_cleaned
where processor_brand = "snapdragon" or processor_brand = "exynous"
or processor_brand = "bionic";
```

## in and not in

```
SELECT * FROM smartphone.smartphones_cleaned 
where processor_brand in ("snapdragon","exynos","bionic");

SELECT * FROM smartphone.smartphones_cleaned 
where processor_brand not in ("snapdragon","exynos","bionic");
```

## Query Execution Order
#### from -> join -> where -> group by -> having -> select -> distinct -> Order by

# Update

```
update smartphone.smartphones_cleaned
set processor_brand = "dimensity" where processor_brand = "mediatek"

update campusx.users set email = "nitish@gmail.com", passwrod = "12345"
where name = "nitish"
```

# Delete

```
delete FROM smartphone.smartphones_cleaned
where price > 200000;

delete FROM smartphone.smartphones_cleaned
where primary_camera_rear > 150 and brand_name = "samsung"
```